
/* both c_quiz_start.html & c_quiz_question.html files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .background{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background: #f7f4f4;
  }

  /* Add a background color to the top navigation */
  .nav {
    background-color: #f7f4f4;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    margin-top: 10px;
    float: right;
    color: #3f51b5;
    width: 0 10px;
    text-align: center;
    display: flex;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #dfdfdf;
    color: #3f51b5;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #f7f4f4;
    color: #192a89;
  }

  .text-box {
    margin-top: 20px;
    max-width: 800px;
  }

  .text-box h2{
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 5vw;
    color: #3f51b5
  }


/* c_quiz_start.html file */

  .start-screen{
    width: 50vh;
    height: 65vh;
    padding: 0 45%;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 5vw;
    background-image: url(https://spopsprod.blob.core.windows.net/cp-cms/560ade33bcebc6f115a1/default);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    border-style: groove;
    background-color: linear-gradient(to right, #798ca8, #a2a9d1bb);
    border-width: 3px;
  }

  .start-screen p{
    font-size: 7vmin;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    text-align: center;
    word-spacing: 15%;
    font-weight: bold;
    color: #f1eef0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-30%, -30%);
    transform: translate(-50%, -50%);
  }

  .start-screen a{
    display: inline-block;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 15px 35px;
    background: #1a2a92;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border-style: inset;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-60%, -60%);
    transform: translate(-50%, -50%);
  }


/* c_quiz_question.html file */

  .display-container{
    width: 50vh;
    height: 65vh;
    padding: 0 45%;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 5vw;
    background: #f4f6fa;
    position: relative;
    border-style: ridge;
    border-width: 3px;
  }

  #question{
    width: 80%;
    font-size: 90%;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    color: #1a2a92;
    position: absolute;
    top: 12%;
    left: 50%;
    -ms-transform: translate(-15%, -15%);
    transform: translate(-50%, -50%);
    white-space: normal;
  }

  /*
  #submit-button{
    display: inline-block;
    font-size: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #1a2a92;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
    width: 15vh;
    height: 10%;
    margin: 0;
    position: absolute;
    top: 90%;
    right: 0.5%;
    -ms-transform: translate(-90%, -90%);
    transform: translate(-50%, -50%);
  }
*/

  #container{
    padding: 75px 0;
    position: absolute; 
    left: 5%;
    top: 5%;
    right: 0%;
  }

  .choiceBtn{
    font-weight: 500;
    border: 1px solid #192a89;
    padding: 10px;
    width: 64vw;
    margin-bottom: 20px;
    background: #fff;
    color: #192a89;
    text-align: left;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s;
    word-wrap:break-word;
    text-overflow:ellipsis;
  }

  .choiceBtn:hover{
    background: #798ca8;
    color: #fff;
  }

  
