<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Platform</title>
        <meta name="viewport" content=
            "width=device-width,initial-scale=1">
        <link rel="stylesheet" href="static/css/c_forgetpwd.css">
    </head>
    
    <body>
        <div class="background">
            <div class="center">
                <h3>Forget Password</h3><br>
                <div class="container">
                    <form action="" method="post" id="ForgetPwdForm">
                        <label for="email"><b>Email: </b></label>
                        <input type="text" id="email" name="email" value="" required><br><br>
                        <label for="pwd"><b>Reset Password: </b></label>
                        <input type="password" id="resetpwd" name="resetpwd" value="" required><br><br>
                    </form>
                </div>
                <div class="buttons">
                    <input type="button" onclick="location.href='/login';" value="Back">
                    <input type="submit" form="ForgetPwdForm" value="Reset Password">
                </div>
            </div>
        </div>
    </body>