<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Platform</title>
        <meta name="viewport" content=
            "width=device-width,initial-scale=1">
        <link rel="stylesheet" href="c_login.css">
    </head>
    
    <body>
        <div class="background">
            <div class="center">
                <h3>Sign in</h3><br>
                <div class="container">
                    <form action="" method="get" id="LoginForm">
                        <label for="username"><b>Username: </b></label>
                        <input type="text" id="username" name="username" required><br><br>
                        <label for="pwd"><b>Password: </b></label>
                        <input type="password" id="pwd" name="pwd" required><br><br>
                    </form>
                </div>
                <a class="forgetpwd" href="c_forgetpwd.html">Forget Password?</a>
                <input type="submit" form="LoginForm" value="Login">
                <div class="register">
                    Not a member? <a href="c_register.html">Create an account</a>
                </div>
            </div>
        </div>
    </body>