<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Platform</title>
    <meta name="viewport" content=
        "width=device-width,initial-scale=1">
    <link rel="stylesheet" href="static/css/c_quiz.css">
  </head>

  <body>
    <!--navigation bar and title-->
    <div class="background">
      <div class="nav">
        <div class="profile-dropdown-menu">
          <a id="navmenu">Your Profile</a>
          <ul class="profile-dropdown-content">
            <a href="/profile">Edit Profile</a>
            <a href="/login">Logout</a>
          </ul>
        </div>
        <a href="/quiz" class="active" id="navmenu"><strong>Take Quiz</strong></a>
        <a href="/toolkit" id="navmenu">View Toolkit</a>
        <a href="/home" id="navmenu">Home</a>
      </div>
        <div class="text-box">
          <h2>Quiz: What Do You Know About Unconscious Bias?</h2>
        </div>
        <div class="display-container">
          <div id="quiz">
            <button id="submit-button" onclick="">Submit</button>
            <div id="question">
              <h3 id="header"></h3>
            </div>
            <div id="container">  
              <div class="choice-buttons">
                <button id="option-1" class="choiceBtn"></button>
              </div>
              <div class="choices-container">
                <button id="option-2" class="choiceBtn"></button>
              </div>
              <div class="choices-container">
                <button id="option-3" class="choiceBtn"></button>
              </div>
              <div class="choices-container">
                <!--<p class="choice-prefix">D</p>-->
                <button id="option-4" class="choiceBtn"></button>
              </div>
            </div>
          </div>

          <div id="solution">
            <h4></h4>
            <p></p>
            <p></p>
          </div>
        </div>
        <!--<script>
          /*function quizpage() {
            var submitbtn = document.querySelector("#submit-button");
            const quizpage = document.querySelector(".display-container")
            document.getElementById("display-container");
          }*/
        </script>-->
    </div>
    <script src="static/js/c_quiz_question.js"></script>
</body>
</html>