<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Platform</title>
        <meta name="viewport" content=
            "width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
        <!--<link rel="stylesheet" href="c_view.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/c_view.css') }}
        
    </head>
    
    <body>
        <div class="background1">
            <div class="nav">
                <div class="profile-dropdown-menu">
                  <a id="navmenu">Your Profile</a>
                  <div class="profile-dropdown-content">
                    <a href="/profile">Edit Profile</a>
                    <a href="/login">Logout</a>
                  </div>
                </div>
                <a href="/quiz" id="navmenu">Take Quiz</a>
                <a class="active" href="/toolkit" id="navmenu"><strong>View Toolkit</strong></a>
                <a href="/home" id="navmenu">Home</a>
            </div>
            
            <div class="carousel">
                <div class="row">
                    <div class="large-12 columns">
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/how-unconscious-bias-can-affect-your-career-cosmo-1615568497.png?resize=980:*" alt="Girl in a jacket" width="100" height="285">
                                <h2><a href="#unconscious-bias">Overview</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/elm090122ppambition-016-1659972669.jpg?crop=0.905xw:0.747xh;0.0449xw,0.153xh&resize=1200:*" alt="Girl in a jacket" width="100" height="285">
                                <h2 class="description">Affinity Bias</h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://cdn.theatlantic.com/thumbor/_AjsbFa5MmS-4habYWI91fBmiPU=/0x0:1767x994/1600x900/media/img/mt/2020/03/Atlantic_ageism_v2/original.png" alt="Girl in a jacket" width="100" height="285">
                                <h2 class="description">Ageism</h2>
                            </div>
                        </div>
                        <div class="item"><!--https://hips.hearstapps.com/hmg-prod/images/how-unconscious-bias-can-affect-your-career-02-1615568497.png?resize=640:*-->
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/ageism-1620256268.jpg?crop=0.6666666666666666xw:1xh;center,top&resize=1200:*" alt="Girl in a jacket" width="100" height="285">
                                <h2 class="description">Attribution Bias</h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/how-unconscious-bias-can-affect-your-career-01-1615568496.png" alt="Girl in a jacket" width="100" height="285">
                                <h2 class="description">Confirmation Bias</h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://consciouslyinc.com/canon/wp-content/uploads/2020/09/Consciously_UnconsciousBias_Graphic4-Cultural.jpg" alt="Girl in a jacket" width="100" height="285">
                                <h2 class="description">Cultural Bias</h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://media.licdn.com/dms/image/D5612AQFFKkE1snpXSw/article-cover_image-shrink_720_1280/0/1680283548593?e=2147483647&v=beta&t=vD3YGmcjmgwI1bz_u4M4oLVGpGhdaCpRcohrv76FRog" alt="Girl in a jacket" width="100" height="285">
                                <h2 class="description">Gender Bias</h2>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div class="background2">
            <div class="paragraph">
                <div class="introduction" id="unconscious-bias">
                    <h3 class="Title">Unconcious Bias</h3>
                    <img src="https://consciouslyinc.com/canon/wp-content/uploads/2020/09/Consciously_UnconsciousBias_Graphic2-2.jpg" alt="Girl in a jacket" width="550" height="285">
                    <p>The term “bias” (also “implicit bias” and “unconscious bias”) refers to the unconscious assumptions, beliefs, attitudes and stereotypes that human brains have about different groups.
                        These learned mental short-cuts affect how we perceive and respond to people.</p><br>
                    <h4>Some key features about unconscious biases: </h4>
                    <ul>
                        <li>Everyone has them</li>
                        <li>They can be activated within a fraction of a second</li>
                        <li>We can hold biases against our own group</li>
                        <li>We can hold biases that go against our stated beliefs</li>
                        <li>Biases are persistent, but can be changed with attention and work</li>
                    </ul>
                </div>
            </div>
        </div>



                <!--<div class="col-lg-0">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a data-toggle="pill" href="#home">Overview</a></li>
                        <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
                        <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
                        <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>HOME</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Menu 2</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h3>Menu 3</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                </div>-->
        
        <!-- For Owl Carousel, reference: https://juniortoexpert.com/en/owl-carousel-responsive-slider/-->
        <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
        <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
        <script>
            var owl = $('.owl-carousel');
            owl.owlCarousel({
            margin: 10,
            loop: true,
            responsive: {
                0: {
                items: 1
                },
                600: {
                items: 2
                },
                1000: {
                items: 3
                }
            }
            })
        </script>
        
        <script>
            // Event when one of the descriptions in owl carousel is clicked
            var myDiv = document.getElementsByClassName("description");

            myDiv.addEventListener("click", function() {
            // Do something when the div is clicked
            myDiv.style.border = "3px solid black";
            });
        </script>
    </body>
</html>