<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Platform</title>
        <meta name="viewport" content=
            "width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="static/css/c_view.css">
        
    </head>
    
    <body>
        <div class="background1">
            <div class="nav">
                <div class="profile-dropdown-menu">
                  <a id="navmenu">Your Profile</a>
                  <div class="profile-dropdown-content">
                    <a href="/profile">Edit Profile</a>
                    <a href="/login">Logout</a>
                  </div>
                </div>
                <a href="/quiz" id="navmenu">Take Quiz</a>
                <a class="active" href="/toolkit" id="navmenu"><strong>View Toolkit</strong></a>
                <a href="/home" id="navmenu">Home</a>
            </div>
            
            <div class="carousel">
                <div class="row">
                    <div class="large-12 columns">
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/how-unconscious-bias-can-affect-your-career-cosmo-1615568497.png?resize=980:*" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('1')">Overview</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/elm090122ppambition-016-1659972669.jpg?crop=0.905xw:0.747xh;0.0449xw,0.153xh&resize=1200:*" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('2')">Affinity Bias</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://cdn.theatlantic.com/thumbor/_AjsbFa5MmS-4habYWI91fBmiPU=/0x0:1767x994/1600x900/media/img/mt/2020/03/Atlantic_ageism_v2/original.png" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('3')">Ageism</a></h2>
                            </div>
                        </div>
                        <div class="item"><!--https://hips.hearstapps.com/hmg-prod/images/how-unconscious-bias-can-affect-your-career-02-1615568497.png?resize=640:*-->
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/ageism-1620256268.jpg?crop=0.6666666666666666xw:1xh;center,top&resize=1200:*" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('4')">Attribution Bias</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://hips.hearstapps.com/hmg-prod/images/how-unconscious-bias-can-affect-your-career-01-1615568496.png" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('5')">Confirmation Bias</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://consciouslyinc.com/canon/wp-content/uploads/2020/09/Consciously_UnconsciousBias_Graphic4-Cultural.jpg" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('6')">Cultural Bias</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-box">
                                <img src="https://media.licdn.com/dms/image/D5612AQFFKkE1snpXSw/article-cover_image-shrink_720_1280/0/1680283548593?e=2147483647&v=beta&t=vD3YGmcjmgwI1bz_u4M4oLVGpGhdaCpRcohrv76FRog" width="100" height="285">
                                <h2><a href="#introduction" onclick="setTitleValue('7')">Gender Bias</a></h2>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="background2">
            <div class="paragraph">
                <div class="introduction" id="introduction">
                    <h3 class="name">{{ name }}</h3>
                    <img src="https://consciouslyinc.com/canon/wp-content/uploads/2020/09/Consciously_UnconsciousBias_Graphic2-2.jpg" width="550" height="280">
                    <p id="description">{{ description }}</p><br>
                    <h4 id="subtitle">{{ subtitle }}</h4>
                    <!--<ul>
                        <li>Everyone has them</li>
                        <li>They can be activated within a fraction of a second</li>
                        <li>We can hold biases against our own group</li>
                        <li>We can hold biases that go against our stated beliefs</li>
                        <li>Biases are persistent, but can be changed with attention and work</li>
                    </ul>-->
                    <p id="toolkit">{{ toolkit }}</p><br>
                    <p id="example">{{ example }}</p>
                </div>
            </div>
        </div>
        <!-- For Owl Carousel, reference: https://juniortoexpert.com/en/owl-carousel-responsive-slider/-->
        <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
        <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
        <script>
            var owl = $('.owl-carousel');
            owl.owlCarousel({
            margin: 10,
            loop: true,
            responsive: {
                0: {
                items: 1
                },
                600: {
                items: 2
                },
                1000: {
                items: 3
                }
            }
            })
        </script>

        <script>
            function setTitleValue(title) {
            // Make an AJAX call to the server-side script
            var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    // Handle the response from the server
                    console.log(this.responseText);
                    }
                };
            xhttp.open("GET", "/set_title_value?title=" + title, true);
            xhttp.send();
            }
        </script>

    </body>
</html>